{mode, max}.
%{mode, {rate, 20}}.

%{duration, 360}.
{duration, 1}.

{concurrent, 5}.

{driver, basho_bench_driver_wiggle}.

%% Example syntax (mykeygen_seq is not defined)
%% {key_generator, {function, test, mykeygen_seq, [10000, 10, 10, 100]}}.

%% {value_generator, {fixed_bin, 10000}}.

%% Example syntax (mysearchgen is not defined)
%% {http_search_generator, {function, test, mysearchgen, []}}.


{operations, [{get, 10}]}.
%{operations, [{get, 10}, {list, 1}]}.

% This switches from JSON to msgpack encoding
{http_raw_append_headers, [{"Accept", "application/x-msgpack"}]}.

% This bypasses nginx for benchmarking
{wiggle_port, 8080}.

% This has to be authenticated beforehand.
{wiggle_token, "3a24ed2e-..."}.

{wiggle_host, "192.168.0.204"}.
{wiggle_endpoint, "vms"}.
{wiggle_initial_keys, ["f67ea9ab-b860-43d5-ae13-8ff5109ee14c","63046bb9-7144-4c9b-ac89-24eed7ecfdba","5d073d10-8905-4670-a8eb-a9155d72c4a9"]}.
